.profile__edit-button {
    background-image: url("../../../img/edit-button.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: 1px solid #fff;
    background-size: 10px;
}

.profile__edit-button:hover { 
    opacity: 0.6; 
} 

@media (max-width: 768px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        display: inline-block;
        background-size: 7.5px;
        margin-left: 10px;
    }
}