.profile__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 0px;
}

@media (max-width: 768px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 36px; 
    }
}