.gallery__like {
    background-image: url("../../../img/heart_1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 19px;
    width: 22px;
    transition: all 0.2s ease-in-out;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    flex-shrink: 0;
}

.gallery__like:hover { 
    opacity: 0.8;    
} 