.gallery__like {
    background-image: url("../../../img/heart_1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 19px;
    width: 22px;
    transition: all 0.2s ease-in-out;
}

.gallery__like:hover { 
    background-image: url("../../../img/heart_2.svg"); 
    cursor: pointer;   
} 

.gallery__like:active { 
    background-image: url("../../../img/heart_3.svg");   
}