.picture {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    box-sizing: border-box;
    height: calc(100% - 180px);
    max-width: calc(100% - 180px);
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
}